<div class="container" ng-controller="HeaderCtrl">
    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">下一个</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{active:isNavbarActive('projectsinfo')}"><a href="/projectsinfo">Current Projects</a></li>
                </ul>
                <ul class="nav navbar-nav"><!--ng-show="isAuthenticated()"-->
                    <li ng-class="{active:isNavbarActive('projects')}"><a href="/projects">My Projects</a></li>
                    <li class="dropdown" ng-class="{active:isNavbarActive('admin'), open:isAdminOpen}" > <!--ng-show="isAdmin()"-->
                        <a id="adminmenu" role="button" class="dropdown-toggle" ng-click="isAdminOpen=!isAdminOpen">Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="adminmenu">
                            <li><a tabindex="-1" href="/admin/projects" ng-click="isAdminOpen=false">Manage Projects</a></li>
                            <li><a tabindex="-1" href="/admin/users" ng-click="isAdminOpen=false">Manage Users</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="hasPendingRequests()">
                    <li class="divider-vertical"></li>
                    <li><a href="#"><img src="/assets/images/spinner.gif"></a></li>
                </ul>
                <login-toolbar></login-toolbar>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </div>
    <div>
        <ol class="breadcrumb" ng-show="breadcrumbs.getAll().length">
            <li ng-repeat="breadcrumb in breadcrumbs.getAll()">
                <span class="divider">/</span>
                <ng-switch on="$last">
                    <span ng-switch-when="true">{{breadcrumb.name}}</span>
                    <span ng-switch-default><a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a></span>
                </ng-switch>
            </li>
        </ol>
    </div>
</div> <!-- /container -->