@()(implicit req: RequestHeader, session: Session)
<!DOCTYPE html>
<html lang="zh-CN" ng-app="app">
    <head>
        <title> 下一个 </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="winsland web 2.1 site.">
        <meta name="author" content="winsland">
        <meta property="qc:admins" content="235337642661456011756375" />
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
        <link href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.css"))' rel="stylesheet">
        <link href="/assets/stylesheets/app.css" rel="stylesheet" type="text/css" />
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.js"></script>
        <![endif]-->
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))'></script>
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-route.js"))'></script>
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-resource.js"))'></script>
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-sanitize.js"))'></script>
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.js"))'></script>
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-file-upload-html5-shim.js"))'></script>
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-file-upload.js"))'></script>
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))'></script>
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.js"))'></script>
        @{new com.ee.assets.Loader(None, play.api.Play.current.mode, play.api.Play.current.configuration).scripts("app-javascript")("app")}
        <script type="text/javascript">
        window[ 'ResourceBase' ] = '@play.api.Play.configuration(play.api.Play.current).getString("yun.mm.file.resource.base").getOrElse("/assets/")';
        </script>
    </head>
    <body ng-controller="AppCtrl">
        <div ng-include="'/views/common/header.tpl.html'"></div>
        <div ng-include="'/views/common/notifications.tpl.html'" class="container-fluid" ng-show="notifications.getCurrent().length"></div>
        <div ng-view class="container"></div>
    </body>
</html>
